@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/ToetsResultaat/Create" alt="Toets resultaat invoeren van een student">Vul toetsresultaat in.</a>
    <a href="/ToetsResultaat/Edit" alt="Toets resultaat wijzigen van een student"> Wijzig toetsresultaat.</a>
    <a href="/ToetsResultaat/Delete" alt="Toets resultaat verwijderen van een student"> Verwijder toetsresultaat.</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
